# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [309]:
import pandas as pd
from thefuzz import process
from thefuzz import fuzz
import numpy as np
candy = pd.read_csv("C:\candyhierarchy2017.xlsx - responses (2) (1).csv (1).csv", encoding ='latin-1')
candy

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [310]:
candy.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

In [311]:
candy.isna().sum()

Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [312]:
candy.drop(['Internal ID', 'Q12: MEDIA [Yahoo]', 'Q12: MEDIA [ESPN]', 'Q12: MEDIA [Daily Dish]', 'Unnamed: 113', 'Q9: OTHER COMMENTS','Q12: MEDIA [Science]','Q8: DESPAIR OTHER', 'Q7: JOY OTHER' ], axis =1, inplace= True)
candy.rename(columns={'Q4: COUNTRY' : 'country', 'Q5: STATE, PROVINCE, COUNTY, ETC' : 'area', 'Q10: DRESS' :'dress', 'Q11: DAY' : 'day', 'Q3: AGE' : 'age'}, inplace= True)
candy.head()

,Q1: GOING OUT?,Q2: GENDER,age,country,area,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q6 | Twix,"Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein",Q6 | Vicodin,Q6 | Whatchamacallit Bars,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,dress,day,"Click Coordinates (x, y)"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(84, 25)"
2,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(75, 23)"
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,JOY,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY,White and gold,Friday,"(70, 10)"

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [313]:
candy['Q1: GOING OUT?'] = candy['Q1: GOING OUT?'].fillna('I do not know')
candy['Q1: GOING OUT?'].value_counts()

No               2038
Yes               312
I do not know     110
Name: Q1: GOING OUT?, dtype: int64

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [314]:
candy['Q2: GENDER'] = candy['Q2: GENDER'].fillna('I\'d rather not say')
candy['Q2: GENDER'].value_counts()

Male                  1467
Female                 839
I'd rather not say     124
Other                   30
Name: Q2: GENDER, dtype: int64

### 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [340]:
# lengthhh = candy['age'].str.len()
# candy.loc[lengthhh > 2 , 'age'] = np.nan
# candy.loc[lengthhh < 1 , 'age'] = np.nan
# candy['age'] = candy['age'].str.strip('nou?')
candy['age'] = pd.to_numeric(candy['age'], errors='coerce')
age_mean = candy['age'].median()
candy['age']  = candy['age'].astype('int')
candy['age'] = candy['age'].fillna(age_mean)
candy['age'].unique()

array([41, 44, 49, 40, 23, 53, 33, 43, 56, 64, 37, 59, 48, 54, 36, 45, 25,
       34, 35, 38, 58, 50, 47, 16, 52, 63, 65, 27, 31, 61, 46, 42, 62, 29,
       39, 32, 28, 69, 67, 30, 22, 26, 51, 70, 24, 18, 19, 57, 60, 66, 12,
       55, 72, 21, 11,  9, 68, 20,  6, 10, 71, 90, 13, 99,  7, 88, 74, 17,
       15,  8, 75,  5, 14, 76, 77, 73,  1,  4])


### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [317]:
category = pd.DataFrame({'Count' : pd.Categorical(["united states" , "usa", "canada" , "uk" , "us", "america"])})
candy['country'] = candy['country'].str.lower()
candy['country'] = candy['country'].str.strip()
candy['country'] = candy['country'].str.strip('.\'1234567890')
candy['country'] = candy['country'].replace("." , "")
for count in category['Count'] :
    matches = process.extract(count, candy['country'], limit = candy.shape[0])
    for potential_match in matches:
        if potential_match[1] >= 65:
            candy.loc[candy['country'] == potential_match[0] , 'country'] = count
mapping = {'united states' : 'usa' , 'us' : 'usa' , 'united states of america' : 'usa', 'united kingdom' : 'uk' ,"new york": "usa" ,"california" : 'usa', 'new jersey' : 'usa'}
candy['country']  = candy['country'].replace(mapping)
lengthh = candy['country'].str.len()
candy.loc[lengthh >14, "country"] = np.nan
candy.loc[lengthh < 2, "country"] = np.nan
candy['country'] = candy['country'].fillna('unkown')
candy['country'].unique()

array(['unkown', 'usa', 'canada', 'america', 'uk', 'england', 'mexico',
       'france', 'finland', 'north carolina', 'netherlands', 'germany',
       'europe', 'earth', 'costa rica', 'greece', 'pittsburgh',
       'trumpistan', 'ireland', 'korea', 'japan', 'iceland', 'scotland',
       'denmark', 'switzerland', 'ud', 'south korea', 'indonesia',
       'endland', 'atlantis', 'murrika', 'alaska', 'singapore', 'china',
       'taiwan', 'hong kong', 'spain', 'sweden', 'narnia'], dtype=object)

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [318]:
candy['area'] = candy['area'].str.lower()
candy['area'] = candy['area'].str.strip()
candy['area'] = candy['area'].str.strip('1234567890')
lengthh = candy['area'].str.len()
candy.loc[lengthh >20, "area"] = np.nan
candy.loc[lengthh <3, "area"] = np.nan
candy['area'] = candy['area'].fillna('unkown') 
counts = candy['area'].value_counts()
candy['area'] = candy['area'][~candy['area'].isin(counts[counts < 3].index)]
candy['area'].value_counts()

unkown          973
california      171
ontario          79
illinois         72
texas            71
               ...
newfoundland      3
oxfordshire       3
derbyshire        3
scotland          3
arkansas          3
Name: area, Length: 64, dtype: int64

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [261]:
f=candy['Q6 | 100 Grand Bar'].mode()
candy['Q6 | 100 Grand Bar'] = candy['Q6 | 100 Grand Bar'].fillna(f)
candy['Q6 | 100 Grand Bar'].value_counts()

JOY        874
MEH        755
DESPAIR     85
Name: Q6 | 100 Grand Bar, dtype: int64

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [263]:
candy['dress'].unique()
candy['dress'] = candy['dress'].fillna('other')
candy['dress'].value_counts()

White and gold    1081
other              744
Blue and black     635
Name: dress, dtype: int64

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [265]:
candy['day'] = candy['day'].fillna('do not like both')
candy['day'].value_counts()

Friday              1091
do not like both     725
Sunday               644
Name: day, dtype: int64

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

### 14 - write a summary about all the cleaning steps

In [341]:
candy.head()

,Q1: GOING OUT?,Q2: GENDER,age,country,area,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q6 | Twix,"Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein",Q6 | Vicodin,Q6 | Whatchamacallit Bars,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,dress,day,"Click Coordinates (x, y)"
0,I do not know,I'd rather not say,41,unkown,unkown,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,Male,44,usa,unkown,MEH,DESPAIR,JOY,MEH,DESPAIR,...,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(84, 25)"
2,I do not know,Male,49,usa,virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Male,40,usa,unkown,MEH,DESPAIR,JOY,MEH,MEH,...,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,"(75, 23)"
4,No,Male,23,usa,NaN,JOY,DESPAIR,JOY,DESPAIR,MEH,...,JOY,MEH,JOY,JOY,DESPAIR,DESPAIR,JOY,White and gold,Friday,"(70, 10)"